.input {
  position: relative;
  font-size: 16px;

  @media screen and (max-width: 720px) {
    font-size: 14px;
  }

  &:hover {
    p {
    color: #000
    }
  }

  p {
    position: absolute;
    left: 1.2em;
    top: 0.5em;
    font-size: 1em;
    text-transform: lowercase;
    font-weight: 700;
    color: rgba(0,0,0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #fff;
    padding-top: 1.5em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    border: 1px solid darken($--light-block-bg, 3%);
    border-radius: $--bd-radius;
    transition: all 0.1s;
    appearance: none;
    -moz-appearance: textfield;


    &:focus + p {
      color: #000
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__icon {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1;
    color: rgba(0,0,0,0.7);
    top: 55%;
    right: 20px;
    pointer-events: none;
  }
}
