.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  transition: all 0.3s;

  @media screen and (max-width: 960px) {
    font-size: 50px;
  }

  @media screen and (max-width: 720px) {
    font-size: 40px;
  }

  span {
    text-transform: capitalize;
    white-space: nowrap;
  }
}
